{% extends "base.html" %}

{% block scripts %}
  {{ super() }}

  {#
    Bot

    https://vitejs.dev/guide/backend-integration.html
  #}
  {% if config.extra.bot == "development" %}
    <script type="module">
      import RefreshRuntime from 'http://localhost:5173/@react-refresh';
      RefreshRuntime.injectIntoGlobalHook(window);
      window.$RefreshReg$ = () => {};
      window.$RefreshSig$ = () => type => type;
      window.__vite_plugin_react_preamble_installed__ = true;
    </script>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/main.tsx"></script>
  {% elif config.extra.bot == "production" %}
    <script type="module" src="{{ 'asset/bot.js' | url }}"></script>
  {% endif %}
{% endblock %}
