name: check

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Without git integration
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: pip
          cache-dependency-path: |
            justfile
            mkdocs.yml
      - uses: taiki-e/install-action@v2
        with:
          tool: just
      - run: just bootstrap
      - run: just build
